name: scraper

on:
  push:
    paths:
      - 'scraper/**'

jobs:
  ci:

    runs-on: ubuntu-latest

    env:
      SCRAPER_DB_URI: mongodb://localhost:27017/db

    defaults:
      run:
        working-directory: ./scraper

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.13'

      - name: Install Poetry
        uses: snok/install-poetry@v1.3.1
        with:
          version: 1.7.1
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Install dependencies
        run: poetry install --no-ansi --no-interaction

      - name: Run make
        run: make ci

      - name: Build image
        run: make image

      - name: Push image
        if: ${{ github.ref_name == 'master' }}
        env:
          CR_PAT: ${{ secrets.CR_PAT }}
        run: make push-to-ghcr

    services:
      mongo:
        image: mongo:4.4.9
        ports:
          - 27017:27017